* {
  font-family: 'EB Garamond', serif;
}

.all-container{
    width: 80%;
<<<<<<< HEAD
    margin: 30px auto;
	margin-left: 230px;
	

   
=======
    position: relative;
    margin:50px auto;
    text-align: center;
>>>>>>> 9d7bbbf5d477966289c3862527e0936ddc12a46c
}

.container {
    position: relative;
    width:260px; 
    margin-left: 15px;
    margin-top: 15px;
    display: inline-block;
<<<<<<< HEAD
	
   

=======
>>>>>>> 9d7bbbf5d477966289c3862527e0936ddc12a46c
}

.image {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 10px;

}

.overlay {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: #A0A0A0;
    overflow: hidden;
    width: 100%;
    height:0;
    opacity: .7;
    transition: .5s ease;
    border-radius: 10px;

}

.container:hover .overlay{
    bottom: 0;
    height: 100%;
}


.text {
    text-shadow: 2px 2px 5px black;
    white-space: nowrap; 
    color: black;
    font-size: 23px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);

}

@media screen and (max-width: 800px) {
    .all-container{
        width: 100%;
        margin: 50px auto;
    }

    .container {
        position: relative;
        width:220px; 
        margin-left: 10px;
        display: inline-block;
        left: -5px;
    }

    .image {
        display: block;
        width: 100%;
        height: auto;
        border-radius: 10px;
    }

    .text {
        text-shadow: 2px 2px 5px black;
        white-space: nowrap; 
        color: black;
        font-size: 18px;
        position: absolute;
        overflow: hidden;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
    }
    
}

/*============galerija slika=============*/
.galery-box{
    position: relative;
    width: 100%;
}

.wrapper{
    box-sizing: border-box;
    width: 100%;
    margin: 25px auto;
    text-align: center;
}

.img-single{
    left: -15px;
    width: 250px;
    height: 210px;
    display: inline-block;
    position: relative;
    margin: 15px;
}

.img-single img{
    width: 100%;
    height: 100%;
    box-shadow: -3px -3px 5px black;
    position: relative;
    -webkit-transition: all .5s ease; /* Safari and Chrome */
    -moz-transition: all .5s ease; /* Firefox */
    -ms-transition: all .5s ease; /* IE 9 */
    -o-transition: all .5s ease; /* Opera */
    transition: all .5s ease;
}

.img-single:hover{
    width: 250px;
    z-index: 100; 
    border-radius: 10px;
}
.img-single img:hover{
    -webkit-transform:scale(1.25); /* Safari and Chrome */
    -moz-transform:scale(1.25); /* Firefox */
    -ms-transform:scale(1.25); /* IE 9 */
    -o-transform:scale(1.25); /* Opera */
     transform:scale(1.25);
}

@media screen and (max-width: 900px) {
    .galery-box{
        overflow: hidden;
        padding: 30px 0px;
        position: relative;
        width: 100%;
        margin: 0 auto;
    }

    .wrapper{
        position: relative;
        box-sizing: border-box;
        text-align: center;
    }

    .img-single{
        left: -5px;
        width: 200px;
        height: 150px;
        display: inline-block;
        position: relative;
        margin: 10px 10px;
    }

    .img-single img{
        width: 100%;
        height: 100%;
        box-shadow: -3px -3px 5px black;
        position: relative;
        -webkit-transition: all .5s ease; /* Safari and Chrome */
        -moz-transition: all .5s ease; /* Firefox */
        -ms-transition: all .5s ease; /* IE 9 */
        -o-transition: all .5s ease; /* Opera */
        transition: all .5s ease;
    }

    .img-single:hover{
        width: 200px;
        z-index: 100; 
    }
    .img-single img:hover{
        -webkit-transform:scale(1.15); /* Safari and Chrome */
        -moz-transform:scale(1.15); /* Firefox */
        -ms-transform:scale(1.15); /* IE 9 */
        -o-transform:scale(1.15); /* Opera */
         transform:scale(1.15);
    }
}
/*================Dugme==================*/
.dugme{
    position: relative;
    left: 30px;
    display: inline;
    top: 10px;
    
}
.dugme1{
    width: 60px;
    height: 60px;
    margin: 0 -20px;
    opacity: 1;
     -webkit-animation-name: dugme1; 
    -webkit-animation-duration: infinite; 
    animation-name: dugme1;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-delay: .8s;
}
.dugme2{
    width: 40px;
    height: 40px;
    opacity: 1;
    margin-bottom: 10px;
     -webkit-animation-name: dugme2; 
    -webkit-animation-duration: infinite; 
    animation-name: dugme2;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-delay: .4s;
}
.dugme3{
    width: 30px;
    height: 30px;
    margin: 0 -20px ;
    opacity: 1;
    margin-bottom: 15px;
    -webkit-animation-name: dugme3; 
    -webkit-animation-duration: infinite; 
    animation-name: dugme3;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    
}

@keyframes dugme1{
    0%{opacity: 1;}
    50%{opacity: 0;}
    100%{opacity: 1;}
}

@keyframes dugme2{
    0%{opacity: 1;}
    50%{opacity: 0;}
    100%{opacity: 1;}
}

@keyframes dugme3{
    0%{opacity: 1;}
    50%{opacity: 0;}
    100%{opacity: 1;}
}

@media screen and (max-width: 800px) {
    .dugme1{
        width: 35px;
        height: 35px;
        margin: 0 -20px;
        opacity: 1;
        margin-bottom: 0;
         -webkit-animation-name: dugme1; 
        -webkit-animation-duration: infinite; 
        animation-name: dugme1;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-delay: .8s;
    }
    .dugme2{
        width: 35px;
        height: 35px;
        opacity: 1;
        margin: 0 -10px;
        margin-bottom: 0;
         -webkit-animation-name: dugme2; 
        -webkit-animation-duration: infinite; 
        animation-name: dugme2;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-delay: .4s;
    }
    .dugme3{
        width: 35px;
        height: 35px;
        margin: 0 0x ;
        opacity: 1;
        margin-bottom: 0;
        -webkit-animation-name: dugme3; 
        -webkit-animation-duration: infinite; 
        animation-name: dugme3;
        animation-duration: 2s;
        animation-iteration-count: infinite;

    }
}