body {
    padding: 0;
    margin: 0;
    background:url('../slike/kamenleft.png');

}

* {
    box-sizing: border-box;

}

#logout{
    position: absolute;
    top: 20px;
    left: 0;
    z-index: 99;
}

header {
    margin-top:0;
    height: 200px;
    background-image: url("../slike/dekorativni.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}


header h1{
    margin: 2% auto;
    float: right;
    font-size:4em;
    color: aliceblue;
}

.logo img{
    width: 12%;
    float: right;
    margin:auto;
}

header nav{

    background: rgba(10, 10, 10, 0.6);
    position: relative;
    top: 150px;
    min-height: 50px;
}

header nav ul{
    position: absolute;
    bottom: 0;
    margin: 0 auto;
    position: absolute;
    width: 100%;
    bottom: 12px;
    text-align: center;
    display: none;
}

header nav ul li{
    list-style: none;
    display: inline;
    cursor: pointer;
}

header nav ul a{
    color: aliceblue;
    font-size: 22px;
    text-decoration: none;
    padding: 13px 25px 12px 25px;
}
header nav ul li a:hover{
     background: rgba(10, 10, 10, 0.7);
}


#container{
    width:60%;
    height: 800px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: -25px -15px 30px #000;
    box-sizing: border-box;
    z-index: 1000;
    position: relative;
    overflow: hidden;
}

#mid-div{

    height: 150px;
    width: 100%;
    background-color: black;
    margin: 55px 0;
}

.soc{
    position: relative;
    height: 60px;
    float: right;
    margin-top: 45px;
    margin-right: 25px;
}

#mid-line{
    height: 120px;
    width: 2px;
    position: relative;
    top: 15px;
    background: white;
    margin: 0 auto;
}

#aside{
    width: 15%;
    height: 700px;
    background: url(slike/poz3.jpg);
    float: right;
    margin-top: 20px;
    margin-right: 2%;
    box-shadow: 15px -10px 25px #808080;
    overflow: hidden;
}

.aside-right{
    background: rgba(10, 10, 10, 0.8);
    width: 100%;
    height: 100%;
    color: aqua;
}

.aside-right label{
    margin-left: 25%;
    font-size: 22px;
    overflow: auto;
}   

.aside-right p{
    text-indent: 20px;
    text-align:justify;
    margin: 15% 9%;
    word-break: break-all;
    word-wrap: break-word;
    font-size: 18px;
    overflow:hidden;
}

#vidi-galeri{
    float: right;
    margin-right:15px;
    margin-top:-10px;
}

#vidi-galeri button{
    height: 40px;
    width: 120px;
    border-radius: 10px;
    background: linear-gradient(gray, black);
    color: aliceblue;
}

#Fleft{
    float: left;
    width: 33%;
    height: 280px;
    position:relative;
    background: rgba(30,30,30, 1);
    bottom: 0;
}
#Fmid{
    width: 34%;
    height: 280px;
    background: rgba(30,30,30, 1);
    position:absolute;
    left: 33%;
    border-left: 1px solid white;
    border-right: 1px solid white;
}
#Fright{
    float: right;
    width: 33%;
    height: 280px;
    position:relative;
    background: rgba(30,30,30, 1);
    bottom: 0;
    
}

/*========KONTAKT CSS=============*/

#con{
    width: 100%;
    height: 700px;
    margin: 0 auto;
}
#con iframe{
    border:2px solid gray;
    float:right;
    margin:15px;
}
@media screen and (max-width: 800px) {
    #con{
        height: 500px;
        width: 100%;
    }
    
    #con iframe{
        width: 300px;
        height: 225px;
        margin:5px;
        
    }
    
#Fleft{
    float: left;
    width: 33%;
    height: 180px;
    position:relative;
    background: rgba(30,30,30, 1);
    bottom: 0;
}
#Fmid{
    width: 34%;
    height: 180px;
    background: rgba(30,30,30, 1);
    position:absolute;
    left: 33%;
    border-left: 1px solid white;
    border-right: 1px solid white;
}
#Fright{
    float: right;
    width: 33%;
    height: 180px;
    position:relative;
    background: rgba(30,30,30, 1);
    bottom: 0;
    
}
}